@charset "utf-8";
body {
    background-color: #fff;
    font-family: Verdana;
    background-color: #f0f2f5;

}
.content {
    width: 100%;
}
h1 {
    font-size: 22px;
    color: #303030;
}
h2 {
    font-size: 20px;
    color: #303030;
    display: block;
    border-bottom: 2px solid #f76b1c;
    padding-bottom: 22px;

}
.red {
    color: #ae1903;
    text-transform: none;
}
.header_wide {
    width: 100%;
    background-color: #4e5d6c;

}
.header, .footer_content {
    max-width: 980px;
    margin: 0 auto;

}
.main_content_text_right, .details_content {
    max-width: 980px;
    margin: 0 auto;
}
.details {
    width: 100%;
    margin: 0 auto;
    background-color: #f0f2f5;
}
.question {
    font-size: 18px !important;

}
.main_content {
    width: 100% ;
    height: 660px;
    margin: 0 auto;
    background: url("/img/fon_5.jpg") no-repeat fixed center top;
    position: relative;
}
.img-overlay{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    height: 640px;
    top: 0px;
    left: 0px;
    background: rgba(255,255,255,0.95);
    z-index: 10;
}
.img-overlay img {
    margin-right: 15px;
}

nav {
    padding: 10px 0px 20px 0px;
    background-color: #4e5d6c;

}
nav:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
     display: block;
     float: right;
     margin: 10px 30px 0px 0px;
     text-transform: uppercase;
     font-size: .85em;
     color: #f0f2f5;
    text-decoration: none;
 }
nav a:hover {

    color: #f76b1c;
}
footer {
    background: url("/img/fon_7.jpg") no-repeat center top;
    width: 100% ;
    height: 400px;
    margin: 0 auto;
    opacity: 1;
    position: relative;
}
.footer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(24,37,60,0.95);
    z-index: 10;
}
.main_content_text_right{
    text-align: center;
}
.main_content_text_right p {
    line-height: 1.5;
    color: #303030;
    font-size: 19px;
    text-align: center;

}
strong {
    color: #ae1903;
}
p {
    color: #303030;
    line-height: 1.5;
    text-align: justify;
    text-indent: 45px;
}
.details_content {
    padding-top: 45px;
    padding-bottom: 45px;
}
.centr {
    display: block;
    margin: 0 auto;
}
pre {
    background-color: #ffffff;
}
.main_content_left, .main_content_right {
    width: 50%;
    float: left;
}
.main_content_text_right:after {
    content: "";
    display: table;
    clear: both;
}
ul {
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 30px;
}
li {
    margin-top: 10px;
}
a {
    text-decoration: none;
    color: #ae1903;
}
a:hover {
    color: #f76b1c;
}
.footer_content a {
    text-decoration: none;
    color: #b2b2b2;
}
.footer_content li {
    list-style-type: none;
}
.footer_content a:hover {
    cursor: pointer;
    color: #f76b1c;
}
.footer_title{
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #b2b2b2;
    border-bottom: 1px solid #4d4d4d;
    font-size: 0.9em;
}

.email{
    background:url("/img/if_mail_.jpg") no-repeat left center ;
}
.gram{
    background:url("/img/if_gram_2.png") no-repeat left center ;
}
.download {
    background:url("/img/if_github_.png") no-repeat left center;
}
.footer_content_left, .footer_content_midle {
    min-width: 400px;
    float: left;
}
.footer_content_:after{
    content: "";
    display: table;
    clear: both;
}
.copyright {
    color: #666666;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing:.07em;
    margin-top: 143px;
    margin-right: 150px;
    float: left;
}
.heart_text {
    color: #666666;
    font-size: 13px;
    float: right;
    margin-top: 143px;
    padding-left: 12px;
    padding-right: 7px;
}
/*----------------------------Клас для фіксації верхнього меню*/
.fixed{
    background: rgba(78, 93, 108, 1);
    position: fixed;
    top:0;
    left: 0;
    box-shadow: 0px 1px 10px -3px #000000;
    z-index: 100;
}
/*---------------------------------------------------------------Серце*/
.heart {
    position: relative;
    width: .5em;
    height: .5em;
    margin-top: 144px;
    background: #ae1903;
    border-radius: 50%;
    box-shadow: .4em 0 0 0 #ae1903;
    float: right;

}
.heart:before {
    position: absolute;
    content: "";
    display: block;
    left: .05em;
    top: .4em;
    border: .4em solid #ae1903;
    border-bottom: 0;
    border-color: #ae1903 transparent;
}